<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="---AA-Compatible" content="IE=edge">
    <meta name= "viewport" content= "width-device-width, initial-scale=1.0">
    <title>Friend's</title>
    <link rel="stylesheet" href="/friend.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>


    <div class="homeContent">
        <div class="friendRequestsDiv">
            <div class="friendContent">
                <h1 class="subSectionTittle">Send Friend Request</h1>

                <form action="/sendFriendRequest" method="POST" class="searchFriendBox">
                    <input type="text" name="friendName" placeholder="Enter friend's username">
                    <button type="submit">Send</button>
                </form>
            </div>

            <div class="friendContent">
                <h1 class="subSectionTittle">Friend Request's</h1>

                <% if (friendRequests.length > 0) {%>
                    <% friendRequests.forEach(user => { %>
                    
                        <div class="friendBox">
                            <img src="/image/user.png" class="logoFriendImg">
                            <p class="friendUsername"><%= user.get('from').properties.username %></p>
                            <div class="friendRequestButtons">
                                <a href="/declineFriend/<%= user.get('from').properties.username %>" > <button class="rejectButtonFriend">Reject</button></a>
                                <a href="/acceptFriend/<%= user.get('from').properties.username %>" > <button class="acceptButtonFriend">Reject</button></a>
                            </div>
                        </div>

                    <% }) %>
                <%} else { %> 
                    <h4 class="requestsNoUsers">There are no friend requests</h4>
                <%} %>

            </div>

            <div class="friendContent">
                <h1 class="subSectionTittle">Request's Send</h1>

                <% if (requestsList.length > 0) {%>
                    <% requestsList.forEach(user => { %>
                    
                        <div class="friendBox">
                            <img src="/image/user.png" class="logoFriendImg">
                            <p class="friendUsername"><%= user.get('from').properties.username %></p>
                            <div class="requestButtons">
                                <a href="/cancelRequest/<%= user.get('from').properties.username %>" > <button class="cancelButtonFriend">Cancel</button></a>
                            </div>
                        </div>

                    <% }) %>
                <%} else { %> 
                    <h4 class="requestsNoUsers">There are no requests</h4>
                <%} %>

                <div class="friendBox">
                    <img src="/image/user.png" class="logoFriendImg">
                    <p class="friendUsername">Username</p>
                    <div class="friendRequestButtons">
                        <button class="rejectButtonFriend">Cancel</button>
                    </div>
                </div>

                <div class="friendBox">
                    <img src="/image/user.png" class="logoFriendImg">
                    <p class="friendUsername">Username</p>
                    <div class="friendRequestButtons">
                        <button class="rejectButtonFriend">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    
    </div>

    <div class="contentFriend">

        <h1 class="subSectionTittle">Friend's</h1>
        
        <% if (friendsList.length > 0) {%>
            <% friendsList.forEach(user => { %>
                <div class="friendBox">
                    <img src="/image/user.png" class="logoFriendImg">
                    <p class="friendUsername"><%= user.get('from').properties.username %></p>
                    <a href="/removeFriend/<%= user.get('from').properties.username %>" ><button class="rejectButtonFriend">Remove Friend</button></a> 
                </div>
            <% }) %>
        <%} else { %> 
            <h2 class="requestsUsers">No tienes amigos</h2>
        <%} %>

        <h1 class="subSectionTittle">You might know</h1>
        
        <div class="friendBox">
            <img src="/image/user.png" class="logoFriendImg">
            <p class="friendUsername">Username</p>
            <button class="addNewRecommendedFriendButton">Add Friend</button>
        </div>

        <div class="friendBox">
            <img src="/image/user.png" class="logoFriendImg">
            <p class="friendUsername">Username</p>
            <button class="addNewRecommendedFriendButton">Add Friend</button>
        </div>

    </div>



</body>
</html>