<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="---AA-Compatible" content="IE=edge">
    <meta name= "viewport" content= "width-device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>


    <div class="homeContent">
        <h1 class="subSectionTittleMain">Post's</h1>

        <a href="/addWave">
            <button>Add a Wave</button>
        </a>

        <% if (postList.length > 0) {%>
            <% postList.forEach(post => { %>
                <div class="postBlock">
                    <div class="userNameBlockPost">
                        <img src="/image/user.png" class="logoFriendImg">
                        <p class="postUsername"><%= post.get('p').properties.username %></p>
                    </div>
                    <div class="waveTheme">
                        <p class="waveContent">
                            <%= post.get('p').properties.bodyPost %>
                        </p>
                    </div>
                    
                </div>
            <% }) %>
        <%} else { %> 
            <h2 class="requestsUsers">No posts yet</h2>
        <%} %>
    
    </div>

    <div class="contentFriend">
        <h1 class="subSectionTittle">You might know</h1>
        
        <% if (recommendedList.length > 0) {%>
            <% recommendedList.forEach(user => { %>
                <div class="friendBox">
                    <img src="/image/user.png" class="logoFriendImg">
                    <p class="friendUsername"><%= user.get('to').properties.username %></p>
                    <form action="/sendFriendRequest" method="POST">
                        <input type="hidden" name="friendName" value="<%= user.get('to').properties.username %>">
                        <button class="addNewRecommendedFriendButton">Add Friend</button>
                    </form>
                </div>
            <% }) %>
        <%} else { %> 
            <h2 class="requestsUsers">No recommendations</h2>
        <%} %>

    </div>

</body>
</html>